{% load l10n i18n%}
<div class="custom-control custom-radio">
  <input type="radio" id="{{ widget.name }}_customRadioYes" name="{{ widget.name }}" class="custom-control-input" value="true" {% if 'checked' in widget.attrs.items %}checked{% endif %}>
  <label class="custom-control-label" for="{{ widget.name }}_customRadioYes">{% translate "Yes" %}</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="{{ widget.name }}_customRadioNo" name="{{ widget.name }}" class="custom-control-input" value="false" {% if 'checked' not in widget.attrs.items %}checked{% endif %}>
  <label class="custom-control-label" for="{{ widget.name }}_customRadioNo">{% translate "No" %}</label>
</div>